@tailwind base;
@tailwind components;
@tailwind utilities;

.mac-background {
  background-image: url("./images/mac.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.padding-top {
  padding-top: 50px;
}

.object-fit {
  object-fit: contain;
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 8px;
}